body {
  font-family: "Space Mono", monospace;
  font-size: 62.5%;
  background: rgba(197, 228, 231, 1);
}

.box {
  background: rgba(255, 255, 255, 1);
  border-radius: 25px;
}

h1 {
  color: rgba(61, 102, 102, 1);
  text-transform: uppercase;
}
